/* Ensures validation messages are not rendered if that input has not yet been modified */
.validation-untouched {
  display: none;
}

/* Ensures validation messages are not rendered if the input is actually valid */ 
.validation-valid {
  display: none;
}

/* Hides validation messages whilst the Input has cursor focus */
.validation-focus.validation-invalid {
  display: none;
}